:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
  background-color: #f0f0f0;
}

.oh-is-page {
  padding: 2em;
  width: 500px;
  overflow-y: auto;
  height: 60%;
  background-color: white;
}

.oh-is-page > * {
  min-height: 1.5em;
  white-space: pre-wrap;
}

label.active ::selection {
  color: transparent;
  background-color: transparent;
}

.oh-is-page pre {
  position: relative;
  tab-size: 4;
}

.oh-is-page pre code {
  background: transparent;
  display: block;
  pointer-events: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;

  top: 0;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.oh-is-page pre code ::selection {
  background: transparent;
  color: transparent;
}

.oh-is-page blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
}

.oh-is-dropdown {
  min-width: 100px;
  background-color: white;
  border: #213547;
  border-width: 1px;
  max-height: 400px;
  overflow-y: auto;
}

.oh-is-option {
  padding: 2px;
  padding-left: 4px;
}

.oh-is-page h1,
h2,
h3,
h4,
h5,
h6 {
  width: 500px;
  min-height: 1.5em;
  background-color: #fff;
}

.oh-is-page p span.placeholder {
  content: attr(placeholder);
  color: #aaa;
}

.cursor {
  display: inline-block;
  width: 1px;
  height: 1.2em;
  background-color: black;
  animation: blink 1s infinite;
}

.oh-is-page table {
  border-spacing: 0;
  border-collapse: collapse;
  /* width: max-content; */
  /* max-width: 100%; */
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  /* min-width: 30%; */
  /* overflow: auto; */
  table-layout: fixed;
}

.oh-is-page table th {
  font-weight: 600;
}

.oh-is-page table th,
.oh-is-page table td {
  border: 1px solid #d0d7de;
}

.oh-is-page table tr {
  background-color: #ffffff;
  border-top: 1px solid hsla(210, 18%, 87%, 1);
}

.oh-is-page table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.oh-is-page table img {
  background-color: transparent;
}

.oh-is-page table th p,
.oh-is-page table td p {
  text-align: center;
  padding: 4px;
  margin: 0;
  min-height: 1.5em;
  /* border-bottom: 2px solid #dddddd; */
  /* border-bottom: 1px solid #dddddd; */
}

.oh-is-page table thead {
  font-weight: 600;
}

.oh-is-page table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.oh-is-page table img {
  background-color: transparent;
}

.oh-is-page table tbody {
  background-color: #ffffff;
  border-top: 1px solid hsla(210, 18%, 87%, 1);
}

.oh-is-page table tbody:nth-child(2n) {
  background-color: #f6f8fa;
}

.oh-is-page table img {
  background-color: transparent;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
